.timelin-section section {
  padding: 2ex 0;
}



.timelin-section html, body {
  overflow-x: hidden;
}
/* .timelin-section .button {
    background-color: #008CBA;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
		margin: 1ex 0;
    border: none;
    outline:none;
}
.timelin-section .button:hover{
	background-color:orange;
  border: none;
} */


.timelin-section body {
  font-size: 17px;
  font-weight: 400;
  background-color: #eee;
}

.timelin-section h1 {
  font-size: 200%;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}

.timelin-section header {
  background: #3F51B5;
  color: #FFFFFF;
  padding: 150px 0;
}

.timelin-section a {
  background: #3F51B5;
  color: #FFFFFF;
  padding: 8px 20px;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 10px;
  display: inline-block;
  border-radius: 2px;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);
}

.timelin-section blockquote {
  margin-top: 30px;
  color: #757575;
  border-left-color: #3F51B5;
  padding: 0 20px;
}

.timeline {
  position: relative;
}
.timeline::before {
  content: '';
  background: #C5CAE9;
  width: 5px;
  height: 95%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-item {
  width: 100%;
  margin-bottom: 70px;
}

.timeline-item::after {
  content: '';
  display: block;
  clear: both;
}

.timeline-content {
  position: relative;
  width: 45%;
  padding: 10px 30px;
  border-radius: 4px;
  background: #f5f5f5;
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
}
.timeline-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  right: -15px;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #f5f5f5;
}

.timeline-img {
  width: 30px;
  height: 30px;
  background: #3F51B5;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -15px;
}

.timeline-card {
  padding: 0 !important;
}
.timeline-card .pa {
  padding: 1em 1em;
}
.timeline-card .pa p{
  font-size: 1.3em;
  margin: 0;
}

.timelin-section header p {
  color: rgba(255, 255, 255, 0.2);
  margin-bottom: 0;
  font-size: 60px;
  margin-top: -30px;
}
.timeline-card a {
  margin-left: 20px;
}
.timelin-section a:hover a:active a:focus {
  background: #32408f;
  color: #FFFFFF;
  text-decoration: none;
}
.timeline-img-header {
  border-radius: 0.2em;
  height: 9em;
  position: relative;
  margin-bottom: 0em;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4))
}
.timeline-img-header h2 {
  color: #FFFFFF;
  position: absolute;
  bottom: 5px;
  left: 20px;
}
.date {
  background: #FF4081;
  display: inline-block;
  color: #FFFFFF;
  padding: 0.3em;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.9;
  border-radius: 0.2em;
}
.timeline-item:nth-child(even) .timeline-content {
  float: right;
  padding: 40px 30px 10px 30px;
}
.timeline-item:nth-child(even) .timeline-content .date {
  right: auto;
  left: 0;
}
.timeline-item:nth-child(even) .timeline-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent #f5f5f5 transparent transparent;
}

.timeline-item .timeline-img-header#sign{
  background: url(../images/sign%20up.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.timeline-item .timeline-img-header.workshop{
  background: url(../images/workshop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.timeline-item .timeline-img-header#huawei{
  background: url(../images/huaweiworkshop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.timeline-item .timeline-img-header#ods{
  background: url(../images/odsunofficial.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.timeline-item .timeline-img-header#reg{
  background: url(../images/Registration.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.timeline-item .timeline-img-header#sche{
  background: url(../images/schedule.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.timeline-item .timeline-img-header#preliminary{
  background: url(../images/perliminary.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.timeline-item .timeline-img-header#talk{
  background: url(../images/huaweiworkshop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.timeline-item .timeline-img-header#finalist{
  background: url(../images/Finial.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.timeline-item .timeline-img-header#awards{
  background: url(../images/awards.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}



@media screen and (max-width: 768px) {
  .timeline::before {
    left: 50px;
  }
  .timeline .timeline-img {
    left: 50px;
  }
  .timeline .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px;
  }
  .timeline .timeline-item:nth-child(even) .timeline-content {
    float: none;
  }
  .timeline .timeline-item:nth-child(odd) .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
  }
  
}
