body {
    text-align: center;
}

header {
    height: 3em;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 50;
    backdrop-filter: blur(50px);
    background-color: rgba(255, 255, 255, .4);
    box-shadow: 0px 0px 20px gray;
    margin-bottom: 1em;
}

.navbar-brand {
    font-weight: bold;
}

.carousel-indicators .indicator {
    background-color: lightblue;
}

.carousel-indicators .active{
    background-color: rgba(111, 191, 218, 0.801);
}

#multi-item-carousel {
    display: flex;
}

.carousel-inner {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 50px;
  color: lightblue;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 50px;
  color: lightblue;
}

.button {
    background-color: rgba(173, 216, 230, 0.836);
    border-radius: 10px;
    padding: 8px 10px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: rgba(111, 191, 218, 0.801);
}