body {
    text-align: center;
}

header {
    height: 3em;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 50;
    backdrop-filter: blur(50px);
    background-color: rgba(255, 255, 255, .4);
    box-shadow: 0px 0px 20px gray;
    margin-bottom: 1em;
}

#carouselExampleControls{
    height: 50px;
    background-color: hsla(0, 0%, 0%, .2);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    font-size: 18px;
}


.sidenav {
    height: 30%; 
    width: 15%; 
    position: fixed; 
    padding-top: 20px;

}

.announcement-container{
    margin-left:15%;
}

.announcement-section{
    margin:5%;
    padding-top:10%;
}

.navbar-brand {
    font-weight: bold;
}

.accordion {
    left: 30%;
    /* width: 40%; */
}

.card {
    border-radius: 10px;
}
